# IDEs and editors
.vscode/
.idea/

# Back-end
## Python
__pycache__/
venv/
*.egg-info
typings/
### Formatter
.ruff_cache/
### Django
staticfiles/
secret.txt
#### Database
*.sqlite3

# Front-end
node_modules/
## Lockfiles
bun.lockb
## Output
dist/

# Production
*.exe
